<section class="item_properties">
  <div class="item_properties-points">
      <span class="item_properties-points_border">
          {{story.score}} points by
          <a href="#">{{story.by}}</a>
      </span>
      <span>
          <span *ngIf="story.descendants !== 0">
              {{story.descendants}}
              <span *ngIf="story.descendants === 1">comment</span>
              <span *ngIf="story.descendants > 1">comments</span>
          </span>
          <span *ngIf="story.descendants === 0">discuss</span>
      </span>
  </div>

  <app-comment-list 
      *ngIf="story.kids"
      [ids]="story.kids"
      isRoot="true">
  </app-comment-list>

</section>

