$mobile-only: "only screen and (max-width : 768px)";

.item_properties {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #c5c5c5;

    .item_properties-points {
        span.item_properties-points_border {
            color: rgb(255, 102, 0);
            padding: 0 10px 0 0;
            border-right: 1px solid yellowgreen;
            a {
                color: indianred;
            }
        }

        span {
            color: rgb(255, 102, 0);
            padding: 0 0 0 10px;
            span {
                padding: 0;
            }
        }
    }
}
