<div class="main-content">
  <!-- loader -->
  <div class="loading-section"
      *ngIf="showLoader">
    <div class="loader">
      Loading...
    </div>
  </div>

  <cdk-virtual-scroll-viewport 
      class="stories-container" 
      style="height: 98vh" 
      itemSize="90" >
     
      <ng-container *cdkVirtualFor="let story of stories; let i = index">
          <h3>
              <span>{{ i + 1 }}.</span>
              <a 
                  class="item_properties-title" 
                  href="{{ story?.url }}" 
                  target="_blank"
                  rel="noopener">
                  {{ story.title }}
              </a>
          </h3>
          <app-item [story]="story">
          </app-item>
      </ng-container>              

  </cdk-virtual-scroll-viewport>

</div>
