:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

$mobile-only: "only screen and (max-width : 768px)";

.container {
  margin: auto;
  height: 100vh;
  display: flex;

  // mobile
  @media #{$mobile-only} {
      flex-direction: column;
  }

  .right {
      flex: 2;
      padding: 10px;
      background-color: #fff;
      overflow: hidden;
  }

  .left {
      background-color: #159957;
      background-image: linear-gradient(120deg,#155799,#159957);
      flex: 0;

      @media #{$mobile-only} {
          flex: none;
          padding: 0 10px;
      }
  }
}