.comments_kids {
  display: inline-block;
  padding: 5px 0;
}

h3 {
  color: rgb(255, 102, 0);
}

li {
  border-bottom: 1px solid #eee;
  padding: 10px 0px;
  list-style: none;
  &:last-child {
    border-bottom: none;
  }
}

span.collapse {
  cursor: pointer;
  color: #b92b27;

  &:hover {
    color: springgreen;
  };
}
