<div class="comments_kids">
  <span *ngIf="ids">
    {{ids.length}}
    <span *ngIf="ids.length === 1">comment</span>
    <span *ngIf="ids.length > 1">comments</span>
  </span>

  <span class="collapse" (click)="onCollapse()">
    [{{collapse ? '+' : '-'}}]
  </span>
</div>

<div style="margin-left: 10px;">
  <ul *ngIf="!collapse">
    <li *ngFor="let comment of comments; let i = index">
      <h3>{{ i+1 }}) {{ comment.by }}</h3>
      <div [innerHTML]="comment.text"></div>
      <!-- comments list child -->
      <app-comment-list 
          *ngIf="comment.kids"
          [ids]="comment.kids"
          isRoot="false">
      </app-comment-list>
    </li>
  </ul>

</div>
